/* -------------------------------------------- */
// GLOBAL COLORS
// Notes:
// Ordered from lightest to darkest, going down.
/* -------------------------------------------- */


$white: #ffffff;
$black: #000000;


$pastelblue: #CDFAFF;
$lightblue: #98F9FF;
$skyblue: #48F7FF;

    $lb1: $pastelblue;
    $lb2: $lightblue;
    $lb3: $skyblue;


$contrastOrange: #FF7817;
$fallgold: #E8990C;
